/* style.css */

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ebf3;
    text-align: center;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #555;
}

/* style.css */
.container-fluid {
    padding: 0;
}

/* / * Image */
/* .image-container {
    width: 100%;
    margin-top: 20px; Adjust margin as needed */
/* }

/* .image-container img {
    width: 100%;
} */ 

