<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil Court Data Visualization</title>
    <!-- Load d3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- Load Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">

</head>
<body>
    <div>
        <!-- Dropdown to select year -->
        <select id="yearSelect"></select>
    </div>
    <div>
        <!-- Divs to hold the charts -->
        <div id="jurisdictionChart"></div>
        <div id="caseTypeChart"></div>
        <div id="jurisdictionsPieChart"></div>
    </div>

    <script>
        // Call the function to generate plotly charts when the page loads
        generateCharts();
    </script>

</body>
</html>