<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Court Cases by Jurisdiction Through the Years</title>
    <!-- Load d3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- Load Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">

</head>
<body>
    <div> 
        <!-- Dropdown to select jurisdiction -->
        <select id="placeSelect"></select>
    </div>
    
    <!-- Div to hold the chart-->
    <div id="jurisdictionChart"></div>

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/plots2.js') }}"></script>
    
    <script>
        // Call the function to generate plotly charts when the page loads
        generateJurisdictionChart();
    </script>
      
</body>
</html>
